In [1]:
import requests
import os
import pandas as pd
import numpy as np
import time
import sys

In [2]:
CARTO_URL = 'https://{}.carto.com/api/v2/sql'
CARTO_USER = 'wri-01'
CARTO_KEY = os.environ.get('CARTO_KEY')
def sendSql(sql, user=None, key=None):
    '''Send arbitrary sql and return response object or False'''
    user = user or CARTO_USER
    key = key or CARTO_KEY
    url = CARTO_URL.format(user)
    payload = {
        'api_key': key,
        'q': sql,
    }
    r = requests.post(url, json=payload)
    if (r.status_code >= 400):
        try:
            msg = r.json()['error'][0]
        except:
            r.raise_for_status()
        raise Exception(msg)
    return r.json()

In [3]:
# get datasets
gadm_table = 'gadm36_adm2'
wdpa_table = 'wdpa_protected_areas'

# look at fields
sendSql("select * from {} limit 0".format(gadm_table))

{'rows': [],
 'time': 0.004,
 'fields': {'cartodb_id': {'type': 'number'},
  'the_geom': {'type': 'geometry'},
  'the_geom_webmercator': {'type': 'geometry'},
  'iso': {'type': 'string'},
  'name_0': {'type': 'string'},
  'gid_1': {'type': 'string'},
  'name_1': {'type': 'string'},
  'nl_name_1': {'type': 'string'},
  'gid_2': {'type': 'string'},
  'name_2': {'type': 'string'},
  'varname_2': {'type': 'string'},
  'nl_name_2': {'type': 'string'},
  'type_2': {'type': 'string'},
  'engtype_2': {'type': 'string'},
  'cc_2': {'type': 'string'},
  'hasc_2': {'type': 'string'},
  'bbox': {'type': 'string'},
  'centroid': {'type': 'string'},
  'area': {'type': 'number'},
  'area_ha': {'type': 'number'},
  'gid_0': {'type': 'string'}},
 'total_rows': 0}

In [4]:
sendSql("select * from {} limit 0".format(wdpa_table))

{'rows': [],
 'time': 0.004,
 'fields': {'cartodb_id': {'type': 'number'},
  'the_geom': {'type': 'geometry'},
  'the_geom_webmercator': {'type': 'geometry'},
  'wdpaid': {'type': 'number'},
  'pa_def': {'type': 'string'},
  'name': {'type': 'string'},
  'orig_name': {'type': 'string'},
  'desig': {'type': 'string'},
  'desig_eng': {'type': 'string'},
  'desig_type': {'type': 'string'},
  'iucn_cat': {'type': 'string'},
  'int_crit': {'type': 'string'},
  'marine': {'type': 'string'},
  'rep_m_area': {'type': 'number'},
  'gis_m_area': {'type': 'number'},
  'rep_area': {'type': 'number'},
  'gis_area': {'type': 'number'},
  'no_take': {'type': 'string'},
  'no_tk_area': {'type': 'number'},
  'status': {'type': 'string'},
  'status_yr': {'type': 'number'},
  'gov_type': {'type': 'string'},
  'own_type': {'type': 'string'},
  'mang_auth': {'type': 'string'},
  'mang_plan': {'type': 'string'},
  'verif': {'type': 'string'},
  'metadataid': {'type': 'number'},
  'sub_loc': {'type': 'string'},
  'parent_iso': {'type': 'string'},
  'gfwid': {'type': 'string'},
  'st_area_sh': {'type': 'number'},
  'st_length_': {'type': 'number'},
  'wdpa_pid': {'type': 'string'},
  'iso3': {'type': 'string'}},
 'total_rows': 0}

In [5]:
# test area intersection calculation 
# Since the two tables are in the same DB, its probably faster to join them than to 
# dl the geometry and insert it into the query. Tho we would do the latter for a more robust pipeline
#
# notes: 
#  geometry should be cast to geography for equal-area calculation
#  use fast sphere ST_AREA(geog, false)

i = 7
query = """
SELECT ST_AREA(ST_UNION(
    ARRAY(
        SELECT
            ST_INTERSECTION(a.the_geom, b.the_geom) AS the_geom
        FROM {} AS a, (
            SELECT the_geom
            FROM {} WHERE cartodb_id = {}
        ) AS b
        WHERE a.the_geom && b.the_geom
    )
)::geography, false) as area
""".format(wdpa_table, gadm_table, i)
sendSql(query)['rows'][0]['area']

In [20]:
query = """
SELECT cartodb_id, gid_2 FROM {}
""".format(gadm_table)

ADM1 = pd.DataFrame(sendSql(query)['rows'])
ADM1.set_index('cartodb_id', inplace=True)

ADM1.head()

                  gid_2
cartodb_id
23852       MEX.31.93_1
1887          AUT.6.8_1
23854       MEX.31.95_1
34974        RUS.59.7_1
34827       RUS.55.31_1

In [26]:
areas = None
for i in range(len(ADM1)//1000+1):
    query = '''
    select cartodb_id, st_area(the_geom::geography, false) as adm2_area from {} where cartodb_id >= {} and cartodb_id < {}
    '''.format(gadm_table, i*1000, (i+1)*1000)
    if areas is None:
        areas = pd.DataFrame(sendSql(query)['rows'])
    else:
        areas = areas.append(pd.DataFrame(sendSql(query)['rows']))
    
areas.set_index('cartodb_id', inplace=True)
ADM1['adm2_area'] = areas['adm2_area']
ADM1.head()

                  gid_2    adm2_area  wdpa_area
cartodb_id
23852       MEX.31.93_1   1.7246e+08        NaN
1887          AUT.6.8_1   3.3191e+09        NaN
23854       MEX.31.95_1  1.21811e+08        NaN
34974        RUS.59.7_1  1.12053e+09        NaN
34827       RUS.55.31_1  4.63348e+09        NaN

In [28]:
ADM1['wdpa_area'] = np.nan
ADM1.count()

gid_2        45962
adm2_area    45962
wdpa_area        0
dtype: int64

In [34]:
# iterate through adm1 polygons and calculate area intersection
# some queries are likely to fail; track these so we can try again on just the failed ones.

for i in ADM1[ADM1['wdpa_area'].isna()].index:
    query = """
    SELECT ST_AREA(ST_UNION(
        ARRAY(
            SELECT
                ST_INTERSECTION(a.the_geom, b.the_geom) AS the_geom
            FROM {} AS a, (
                SELECT ST_MAKEVALID(the_geom) AS the_geom
                FROM {} WHERE cartodb_id = {}
            ) AS b
            WHERE a.the_geom && b.the_geom
        )
    )::geography, false) as area
    """.format(wdpa_table, gadm_table, i)

    try:
        # No intersection results in null; count as 0
        area = sendSql(query)['rows'][0]['area'] or 0
        ADM1.at[i, 'wdpa_area'] = area
        # just showing progress...
        sys.stdout.write("{}/{}: {} m3 \t\t\t\r".format(i, len(ADM1), area))
        sys.stdout.flush()
    except Exception as e:
        print('{}/{} Query failed: {}'.format(i, len(ADM1), e))

print('\nNum failed: {}'.format(ADM1['wdpa_area'].isna().sum()))
ADM1.to_csv('Data/adm2_wdpa_intersection.csv')
ADM1.head()

27142/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
37082/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41015/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41017/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41255/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11759/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14108/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14109/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14649/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14243/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14643/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14800/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1442/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1551/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
1610/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1663/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
14115/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14114/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27119/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9124/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
9126/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11289/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11755/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
15189/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15195/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
15196/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14756/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14132/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14436/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14439/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14429/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14455/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
14482/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14452/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
27070/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
27130/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
27144/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
8718/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
8729/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8748/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8749/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8750/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8770/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
37213/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27105/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
27107/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27111/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37163/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37028/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
27123/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
40009/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8885/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
8655/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
1808/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11345/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
40998/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14121/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14122/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41288/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41007/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.

14765/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37179/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
11361/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
42810/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
42143/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11749/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11752/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
34208/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8719/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
1567/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
2128/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37078/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14491/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9095/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8751/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
9094/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9123/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14146/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14149/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14220/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41012/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41013/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11568/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11631/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11546/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11472/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11552/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14645/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14769/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11478/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11729/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11735/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11748/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
22084/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
40995/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
40996/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
21300/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
33669/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1436/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37064/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11473/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11475/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8890/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11676/45962 Query failed: GEOSUnaryUnion: TopologyException: found non-noded intersection between LINESTRING (11.5623 50.3854, 11.5623 50.3854) and LINESTRING (11.5623 50.3854, 11.5621 50.3853) at 11.562346192032276 50.385446123848631
8772/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
11538/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11567/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14172/45962 Query failed: GEOSUnaryUnion: TopologyException: found non-noded intersection between LINESTRING (25.5226 59.2211, 25.5226 59.2211) and LINESTRING (25.5226 59.2211, 25.5226 59.2211) at 25.522554783447518 59.221125924393206
14531/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
16972/45962 Query failed: Error performing intersection: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 112.13125573598691 -2.7446568503059425 at 112.13125573598691 -2.7446568503059425
16973/45962 Query failed: Error performing intersection: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 112.13125573598691 -2.7446568503059425 at 112.13125573598691 -2.7446568503059425
16978/45962 Query failed: Error performing intersection: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 112.13125573598691 -2.7446568503059425 at 112.13125573598691 -2.7446568503059425
19756/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
1590/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.

1566/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1577/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14270/45962 Query failed: GEOSUnaryUnion: TopologyException: found non-noded intersection between LINESTRING (21.8366 58.4813, 21.8366 58.4813) and LINESTRING (21.8366 58.4813, 21.8366 58.4813) at 21.836553011587533 58.481341026705742
14470/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14519/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14801/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8665/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8667/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
8659/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8674/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11569/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15192/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15193/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15186/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15197/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27106/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
13529/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
13531/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14431/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14116/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14072/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14075/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14076/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14440/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
17148/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
16971/45962 Query failed: Error performing intersection: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 112.13125573598691 -2.7446568503059425 at 112.13125573598691 -2.7446568503059425
29360/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27101/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
29525/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
17053/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11792/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11442/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37075/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14099/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14082/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11731/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
20929/45962: 6211146916.39163 m3
Num failed: 154

                  gid_2    adm2_area     wdpa_area
cartodb_id
23852       MEX.31.93_1   1.7246e+08  3.917377e+07
1887          AUT.6.8_1   3.3191e+09  2.541045e+09
23854       MEX.31.95_1  1.21811e+08  2.105262e+06
34974        RUS.59.7_1  1.12053e+09  0.000000e+00
34827       RUS.55.31_1  4.63348e+09  2.983450e+08

In [35]:
ADM1[ADM1['wdpa_area'].isna()]

                  gid_2    adm2_area  wdpa_area
cartodb_id
27142        NZL.19.1_1  7.93454e+09        NaN
37082        SWE.10.9_1  2.06965e+10        NaN
41015        USA.2.21_1  3.35779e+10        NaN
41017        USA.2.23_1  9.65366e+10        NaN
41255       USA.10.11_1  5.34337e+09        NaN
11759         DNK.4.3_1  9.01817e+08        NaN
14108        ESP.11.1_1   2.1754e+10        NaN
14109        ESP.11.2_1  1.98464e+10        NaN
14649        GBR.1.26_1  6.64214e+09        NaN
14243         EST.9.1_1  1.75463e+09        NaN
14643        GBR.1.20_1  3.57177e+09        NaN
14800        GBR.4.16_1  1.60652e+09        NaN
18512        ITA.14.4_1   4.8371e+09        NaN
1442         AUS.7.26_1  7.11645e+09        NaN
1551         AUS.8.61_1  6.24276e+11        NaN
1610        AUS.10.19_1   2.0932e+10        NaN
1663        AUS.10.72_1  1.08109e+10        NaN
14115        ESP.14.1_1  4.11392e+09        NaN
14114        ESP.13.1_1  5.02514e+09        NaN
27119        NZL.14.3_1  3.00304e+10        NaN
9124         CHL.11.2_1   3.7491e+10        NaN
9126         CHL.11.4_1  5.67532e+10        NaN
11289         DEU.1.7_1  1.37292e+09        NaN
11755        DNK.3.10_1  1.09137e+09        NaN
15189         GRC.4.1_1  8.37254e+09        NaN
15195         GRC.7.2_1  1.55157e+10        NaN
15196         GRC.7.3_1  1.12786e+10        NaN
14756         GBR.3.4_1  6.99808e+09        NaN
14132        EST.1.10_1  6.27701e+08        NaN
14436         FIN.4.5_1  6.79063e+09        NaN
...                 ...          ...        ...
8667         CAN.2.17_1  2.07048e+10        NaN
8659          CAN.2.9_1   2.0406e+10        NaN
8674         CAN.2.24_1  2.04614e+10        NaN
11569       DEU.10.44_1  1.13017e+09        NaN
15192         GRC.6.1_1  1.88842e+10        NaN
15193         GRC.6.2_1   1.4164e+10        NaN
15186         GRC.1.2_1  5.44842e+09        NaN
15197         GRC.8.1_1  1.55839e+10        NaN
27106        NZL.11.2_1  3.10993e+09        NaN
13529         ECU.9.1_1  5.37979e+09        NaN
13531         ECU.9.3_1  1.81648e+09        NaN
14431         FIN.3.2_1  3.69483e+10        NaN
14116        ESP.14.2_1  3.40755e+09        NaN
14072         ESP.1.2_1  7.42539e+09        NaN
14075         ESP.1.5_1  1.00783e+10        NaN
14076         ESP.1.6_1  1.34882e+10        NaN
14440         FIN.5.4_1  7.89794e+09        NaN
17148        IDN.27.1_1  3.06233e+09        NaN
16971        IDN.14.6_1  1.95053e+10        NaN
29360        POL.6.13_1  1.46276e+09        NaN
27101         NZL.8.1_1  1.04633e+10        NaN
29525        POL.13.5_1  2.23774e+09        NaN
44041       USA.50.63_1  2.54454e+09        NaN
17053        IDN.21.8_1  3.14935e+09        NaN
11792        DNK.5.19_1  1.16996e+09        NaN
11442        DEU.4.18_1  3.06316e+09        NaN
37075        SWE.10.2_1  1.45321e+10        NaN
14099         ESP.6.3_1  1.21471e+10        NaN
14082         ESP.3.1_1  5.30003e+09        NaN
11731         DNK.2.5_1   7.9752e+08        NaN

[154 rows x 3 columns]

In [36]:
# if the bottleneck is intersection, try simplifing the query polygon?

tolerance = .0008333 # wgs84 -> degrees (100m)
for i in ADM1[ADM1['wdpa_area'].isna()].index:
    query = """
    SELECT ST_AREA(ST_UNION(
        ARRAY(
            SELECT
                ST_INTERSECTION(
                    ST_MAKEVALID(ST_SIMPLIFY(a.the_geom, {tolerance})),
                    b.the_geom) AS the_geom
            FROM {} AS a, (
                SELECT ST_MAKEVALID(ST_SIMPLIFY(the_geom, {tolerance})) AS the_geom
                FROM {} WHERE cartodb_id = {}
            ) AS b
            WHERE a.the_geom && b.the_geom
        )
    )::geography, false) as area
    """.format(wdpa_table, gadm_table, i, tolerance=tolerance)
    
    try:
        # No intersection results in null; count as 0
        area = sendSql(query)['rows'][0]['area'] or 0
        ADM1.at[i, 'wdpa_area'] = area
        # just showing progress...
        sys.stdout.write("{}/{}: {} m3 \t\t\t\r".format(i, len(ADM1), area))
        sys.stdout.flush()
    except Exception as e:
        print('{}/{} Query failed: {}'.format(i, len(ADM1), e))

print('\nNum failed: {}'.format(ADM1['wdpa_area'].isna().sum()))
ADM1.to_csv('Data/adm2_wdpa_intersection.csv')
ADM1[ADM1['wdpa_area'].isna()]

37082/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1551/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27119/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9124/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9126/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14756/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14436/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14439/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14429/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27070/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27144/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8718/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8729/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8748/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8749/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8750/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8770/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37213/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27105/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37163/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27123/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
8885/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1808/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41288/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41007/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
42810/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37078/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9095/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9094/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
9123/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41012/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
41013/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11546/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11552/45962 Query failed: GEOSUnaryUnion: TopologyException: Input geom 1 is invalid: Self-intersection at or near point 8.6616159927445917 51.989454060564462 at 8.6616159927445917 51.989454060564462
14769/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
40996/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
33669/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
1436/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11475/45962 Query failed: GEOSUnaryUnion: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 12.023961339155374 53.804262233221152 at 12.023961339155374 53.804262233221152
8890/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8772/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8665/45962 Query failed: GEOSisValid(): InterruptedException: Interrupted!
8667/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
8674/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
15186/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
14431/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
14440/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
27101/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
37075/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11731/45962: 111908030.742925 m3
Num failed: 49

                   gid_2    adm2_area  wdpa_area
cartodb_id
37082         SWE.10.9_1  2.06965e+10        NaN
1551          AUS.8.61_1  6.24276e+11        NaN
27119         NZL.14.3_1  3.00304e+10        NaN
9124          CHL.11.2_1   3.7491e+10        NaN
9126          CHL.11.4_1  5.67532e+10        NaN
14756          GBR.3.4_1  6.99808e+09        NaN
14436          FIN.4.5_1  6.79063e+09        NaN
14439          FIN.5.3_1  1.08099e+10        NaN
14429          FIN.2.1_1  9.83286e+10        NaN
27070          NZL.1.1_1  4.95241e+09        NaN
27144         NZL.19.3_1  1.18397e+10        NaN
8718           CAN.5.1_1   2.2224e+11        NaN
8729           CAN.6.2_1  5.67072e+11        NaN
8748           CAN.8.1_1  1.01131e+12        NaN
8749           CAN.8.2_1  5.35694e+11        NaN
8750           CAN.8.3_1  5.10347e+11        NaN
8770          CAN.9.20_1  4.47854e+11        NaN
37213        SWE.18.10_1  7.97865e+09        NaN
27105         NZL.11.1_1  6.69674e+09        NaN
37163         SWE.15.9_1  2.14377e+09        NaN
27123         NZL.16.1_1  9.64496e+09        NaN
8885         CAN.11.79_1   1.0448e+11        NaN
1808        AUS.11.137_1  1.12417e+11        NaN
41288        USA.10.44_1  2.87755e+09        NaN
41007         USA.2.13_1  1.73827e+10        NaN
42810        USA.33.53_1  2.40564e+09        NaN
37078         SWE.10.5_1  1.68485e+10        NaN
9095           CHL.1.2_1  3.70545e+10        NaN
9094           CHL.1.1_1  4.42922e+10        NaN
9123          CHL.11.1_1  1.61131e+10        NaN
41012         USA.2.18_1  9.29257e+10        NaN
41013         USA.2.19_1  1.98931e+10        NaN
11546        DEU.10.21_1  1.95236e+09        NaN
11552        DEU.10.27_1  1.24107e+09        NaN
14769         GBR.3.17_1  2.60928e+10        NaN
40996          USA.2.2_1  1.16245e+10        NaN
33669         RUS.12.8_1  1.19278e+11        NaN
1436          AUS.7.20_1  1.06175e+11        NaN
11475          DEU.8.5_1  3.41532e+09        NaN
8890         CAN.11.84_1  8.58943e+11        NaN
8772          CAN.9.22_1  3.61643e+10        NaN
8665          CAN.2.15_1  9.30022e+10        NaN
8667          CAN.2.17_1  2.07048e+10        NaN
8674          CAN.2.24_1  2.04614e+10        NaN
15186          GRC.1.2_1  5.44842e+09        NaN
14431          FIN.3.2_1  3.69483e+10        NaN
14440          FIN.5.4_1  7.89794e+09        NaN
27101          NZL.8.1_1  1.04633e+10        NaN
37075         SWE.10.2_1  1.45321e+10        NaN

In [37]:
import psycopg2
# setup postgis connecton funcitons
pg_user=os.environ.get('POSTGIS_ENV_POSTGRES_USER')
pg_pass=os.environ.get('POSTGIS_ENV_POSTGRES_PASSWORD')
pg_host=os.environ.get('POSTGIS_PORT_5432_TCP_ADDR')
pg_port=os.environ.get('POSTGIS_PORT_5432_TCP_PORT')

def postgis(query):
    conn = psycopg2.connect(user=pg_user, 
                        password=pg_pass,
                        host=pg_host,
                        port=pg_port
                       )
    cur = conn.cursor()
    cur.execute(query)
    r = list(cur.fetchall())
    cur.close()
    conn.close()
    return r

In [39]:
# if the bottleneck is union (dissolve), try simplifying and downloading the intersected polygons
# union offline

for i in ADM1[ADM1['wdpa_area'].isna()].index:
    #first get the intersected 
    query = """
        SELECT
            ST_INTERSECTION(
                ST_MAKEVALID(ST_SIMPLIFY(a.the_geom, {tolerance})),
                b.the_geom) AS the_geom
        FROM {} AS a, (
            SELECT ST_MAKEVALID(ST_SIMPLIFY(the_geom, {tolerance})) AS the_geom
            FROM {} WHERE cartodb_id = {}
        ) AS b
        WHERE a.the_geom && b.the_geom
    """.format(wdpa_table, gadm_table, i, tolerance=tolerance)
    try:
        rows = sendSql(query)['rows']
        geoms = ','.join(["ST_MAKEVALID('{}'::geometry)".format(r['the_geom']) for r in rows if r['the_geom']])
        if len(geoms):
            query = "SELECT ST_AREA(ST_UNION(ARRAY[{}])::geography, false)".format(geoms)
            area = postgis(query)[0][0]
        else:
            area = 0
        ADM1.at[i, 'wdpa_area'] = area

        # just showing progress...
        sys.stdout.write("{}/{}: {} m3 \t\t\t\r".format(i, len(ADM1), area))
        sys.stdout.flush()

    except Exception as e:
        print('{}/{} Query failed: {}'.format(i, len(ADM1), e))
    
print('\nNum failed: {}'.format(ADM1['wdpa_area'].isna().sum()))
ADM1.to_csv('Data/adm2_wdpa_intersection.csv')
ADM1.head()

9126/45962 Query failed: Error performing intersection: InterruptedException: Interrupted!
8748/45962 Query failed: You are over platform's limits: SQL query timeout error. Refactor your query before running again or contact CARTO support for more details.
11546/45962 Query failed: GEOSUnaryUnion: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 8.0898500850666561 51.280000000000001 at 8.0898500850666561 51.280000000000001

11552/45962 Query failed: GEOSUnaryUnion: TopologyException: Input geom 1 is invalid: Self-intersection at or near point 8.6616159927445917 51.989454060564462 at 8.6616159927445917 51.989454060564462

11475/45962 Query failed: GEOSUnaryUnion: TopologyException: Input geom 0 is invalid: Self-intersection at or near point 12.023961339155374 53.804262233221152 at 12.023961339155374 53.804262233221152


Num failed: 5

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [44]:
.count()

45960

In [ ]:
# if the bottleneck is union (dissolve), try simplifying and downloading the intersected polygons
# union offline

for i in ADM1[ADM1['wdpa_area'].isna()].index:
    #first get the intersected 
    query = """
        SELECT
            ST_INTERSECTION(
                ST_MAKEVALID(ST_SIMPLIFY(a.the_geom, {tolerance})),
                b.the_geom) AS the_geom
        FROM {} AS a, (
            SELECT ST_MAKEVALID(ST_SIMPLIFY(the_geom, {tolerance})) AS the_geom
            FROM {} WHERE cartodb_id = {}
        ) AS b
        WHERE a.the_geom && b.the_geom
    """.format(wdpa_table, gadm_table, i, tolerance=tolerance*4)
    try:
        rows = sendSql(query)['rows']
        geoms = ','.join(["ST_MAKEVALID('{}'::geometry)".format(r['the_geom']) for r in rows if r['the_geom']])
        if len(geoms):
            query = "SELECT ST_AREA(ST_UNION(ARRAY[{}])::geography, false)".format(geoms)
            area = postgis(query)[0][0]
        else:
            area = 0
        ADM1.at[i, 'wdpa_area'] = area

        # just showing progress...
        sys.stdout.write("{}/{}: {} m3 \t\t\t\r".format(i, len(ADM1), area))
        sys.stdout.flush()

    except Exception as e:
        print('{}/{} Query failed: {}'.format(i, len(ADM1), e))
    
print('\nNum failed: {}'.format(ADM1['wdpa_area'].isna().sum()))
ADM1.to_csv('Data/adm2_wdpa_intersection.csv')
ADM1.head()

In [39]:
ADM1.iloc[1452]

adm2_area     5.67532e+10
cartodb_id           9126
gid_2          CHL.11.4_1
iso                   CHL
wdpa_area             NaN
perc_wdpa             NaN
Name: 1452, dtype: object